
.container {
 	border:  1px solid #bfbfbf;
 	margin-top: 7.5rem;
 	padding: 1.5rem;
 	border-radius: 12px;
 	box-shadow: 0 2px 12px 2px rgb(0 0 0 / 35%);
}

body {
  background-color: blue;
}

.converted-value {
  color: #452B4E;
}

.conversion-precision {
  color: #452B4E;
}

